<!DOCTYPE html>
<head>
<title>Lifting Log</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <h1>LIFTING LOG</h1>
  <div class="nav">
    <a href="/">Home</a>
    <a href="/tracker">Tracker</a>
  </div>
  {{{ body }}}
</body>
</html>