<div class="log">
  <form id = "logForm" method="POST" action="/log-{{exercise}}">
    <div>Weight (lbs): 
      <input type="text" name="weight" required pattern="[0-9]+" title="numbers only"></div>
    <div># Sets: 
      <input type="text" name="sets" required pattern="[0-9]+" title="numbers only">
    </div>
    <div># Reps: 
      <input type="text" name="reps" required pattern="[0-9]+" title="numbers only">
    </div>
    <div>Date: 
      <input type="date" name="date" required pattern="\d{4}-\d{2}-\d{2}" title="yyyy-mm-dd">
      <span class="validity"></span>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>