<div class="log">
  <form id = "logForm" method="POST" action="/log-{{exercise}}">
    <div>Weight (lbs): <input type="text" name="weight"></div>
    <div># Sets: <input type="text" name="sets"></div>
    <div># Reps: <input type="text" name="reps"></div>
    <input type="submit" value="Submit">
  </form>
</div>