{{#each myExercises as |myExercise|}}
      <div>
        <span>{{myExercise.name}}</span>
        <span>{{myExercise.weight}} lbs</span>
        <span>{{myExercise.sets}} sets</span>
        <span>{{myExercise.reps}} reps</span>
      </div>
{{/each}}